.warter {
		font-size: 12upx;
	}
.cu-bar .search-form[data-v-b4ac8db8] {
	width: 242.5px;
	height: 25px;
	font-family: PingFang-SC-Bold;
	color: #333;
}
.cu-item {
	font-family: PingFang-SC-Bold;
	font-size: 12upx;
}
.text-white[data-v-b4ac8db8], .line-white[data-v-b4ac8db8], .lines-white[data-v-b4ac8db8] {
	color: #B60A01;
	font-size: medium;
	font-weight: 700;
	font-family: PingFang-SC-Bold;
}
.nav .cu-item[data-v-b4ac8db8] {
	height: 40px;
	line-height: 40px;
	margin: 0 1.5% 0 0;
	padding: 0;
}
.nav .cu-item.cur[data-v-b4ac8db8] {
	border-bottom: 0;
}
.line {
	width: 2px;
	border-bottom: 2px solid #B60A01;
}
.container {
	position: relative;
	top: 98px;
	padding-left: 20px;
}
.line-bottom {
	width: 700px;
	height: 118px;
	line-height: 110px;
	padding: 3% 0 0 0;
	border-bottom: 1px solid #EEEEEE;
	display: block;
	justify-items: center;
}
.wen {
	height: 90px;
	line-height: 90px;
}
.line-bottom:nth-child(4) {
	height: 80px;
	line-height: 40px;
}
.line-bottom:nth-child(5) {
	height: 80px;
	line-height: 40px;
}
.z {
	color: #FF00000;
	font-family: PingFang-SC-Medium;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2;
	padding-left: 5px;
}
.tu1 {
	position: absolute;
	top: -10px;
}
.uni-swiper .uni-swiper-dot-active {
	background-color: #0000FF;
}